*{
	margin:0px;
	padding:0px;
	
}

body
{
	background: #eee;
}
#frm{
	text-align:center;
	border:solid gray 1px;
	width: 100%;
	height:200px;
	border-radius:10%;
	margin-bottom:20px;
	margin: 200% auto;
	background : white ;
	padding:50%;
	margin-top: 200px;

	
}
h1{
	text-shadow: 2px 2px 5px rgba(0,0,0,0.4);
	
}
#main_div{
	margin:200px auto;
	margin-bottom:20px;
	padding: 10px 10px;
	width: 500px;
	border:1px solid black;
	border-radius: 15px;
	background-color:#fff; 
	box-shadow:5px 5px 15px rgba(0,0,0,0.4);
	
	
}
#side{
	border:1px solid #069;
	border-radius:15px;
	width:370px;
	padding:20px;
	height:450px;
	box-shadow:5px 5px 15px rgba(0,0,0,0.3);
	background-color:#edecf8;
}
#logo{
	float:left;
	
}	

#heading{
	text-align:center;
	background-color:#069;
	margin-top:0px;
	padding-top:15px;
	height:65px;
	color:#fff;
	border-bottom: 2px solid #000;
	margin-bottom:20px;
	
	
	}
#main_div{
	margin:0px auto;
	margin-bottom:20px;
	padding:10px 10px;
	width:2500px;
	border:1px solid black;
	border-radius:15px;
	background-color:#fff; 
	box-shadow:5px 5px 15px rgba(0,0,0,0.4);
	
	
}
#btn{
	color:  black;
	background: #3337ab;
	padding: 5px;
	margin-left: 69px;
	width:100px;
	height:30px;
}

#color_me{
	
	color:orange;
}
#color_this{
	
	color:pink;
}
